<ion-pane>
  <ion-header-bar align-title="left" class="bar bar-header bar-dark">
	<a href="#/">
	<button class="button icon-right ion-ios7-arrow-left button-clear button-white">
	</button></a>
	<h1 class="title">{{pname}}</h1>
  </ion-header-bar>
  <ion-content class="content">

	<div class="about-view">
        <img style="margin:0px auto;display:block" src="img/medscales64.png"></img>
        <p>
            <h3>Application full name</h3>
            Calculator of medical indexes, scores, and scales for firefox OS.
            <h3>Version</h3>
            0.1
            <h3>Author</h3>
            Lorenzo Guizzaro, MD - lorenzo.guizzaro@mail.com        
        </p>

            <br></br>
            The app is made with large use of cool stuff made by other people, like:
            <br></br>

                Ionic.js - Advanced HTML5 Hybrid Mobile App Framework<br></br>
                Angular.js - Superheroic JavaScript MVW Framework<br></br>
                All the scales, scores, and indexes.<br></br>

                
            Please note that the app is in an early stage of its development, so problems may still arise somewhere and some                   features are still to come. I strongly, strongly advise you against taking any medical decision based on what the app says. The app is by no means done to replace a physician. <br></br> If you can think of other indexes, scales or scores you'd like to have in the next version of the app, please let me know mailing me.
	</div>

  </ion-content>
</ion-pane>