<ion-pane>
  <ion-header-bar align-title="left" class="bar bar-header bar-dark">
	<a href="#/metab">
	<button class="button icon-right ion-ios7-arrow-left button-clear button-white">
	</button></a>
	<h1 class="title">{{pname}}</h1>
  </ion-header-bar>
  <ion-content class="content">

        <div class="or-view">

            <div class="row">
                <div class="col col-75">Height (cm)</div>
                <div class="col"><label class="item item-input">
                                 <input type="number" id="height"></input>
                                 </label></div>
            </div>


            <div class="row">
                <div class="col col-75">Weight (kg)</div>
                <div class="col"><label class="item item-input">
                                 <input type="number" id="weight"></input>
                                 </label></div>
            </div>
    
    
             <button class="button button-block button-dark" ng-click="calculate()">Calculate</button>
        </div>
        <a class="item item-icon-left">
            BMI
            <span class="badge badge-{{smartColor}}">{{bmi}}</span>
        </a>

        <button class="button button-block button-dark item-icon-right" ng-click="showInterpret = !showInterpret">
            <i class="icon ion-ios7-arrow-down"></i>
            How to interpret</button>

        <div id="interpret-div" ng-show="showInterpret">
            <a class="item item-icon-left">Underweight<span class="badge badge-assertive">&#60; 18</span></a>
            <a class="item item-icon-left">Normal<span class="badge badge-balanced">18 - 25</span></a>
            <a class="item item-icon-left">Overweight<span class="badge badge-energized">25 - 30</span></a>
            <a class="item item-icon-left">Obese<span class="badge badge-assertive">&#62; 30</span></a>

        </div>


  </ion-content>
</ion-pane>