<ion-pane>
  <ion-header-bar align-title="left" class="bar bar-header bar-dark">
    <h1 style="margin-left: 50px" class="title">{{pname}}</h1>
  </ion-header-bar>

  <ion-content class="content">
      
    <div class="list">
        
      <a class="item item-icon-right" href="#/cardio">
        <i class="icon ion-ios7-arrow-right"></i>
            Cardiology
      </a>
        
      <a class="item item-icon-right" href="#/biostat">
        <i class="icon ion-ios7-arrow-right"></i>
            Epidemiology
      </a>
        
      <a class="item item-icon-right" href="#/gastro">
        <i class="icon ion-ios7-arrow-right"></i>
            Gastroenterology
      </a>
         
      <a class="item item-icon-right" href="#/metab">
        <i class="icon ion-ios7-arrow-right"></i>
            Metabolism
      </a>
        
      <a class="item item-icon-right" href="#/nefro">
        <i class="icon ion-ios7-arrow-right"></i>
            Nephrology
      </a>

      <a class="item item-icon-right" href="#/neo">
        <i class="icon ion-ios7-arrow-right"></i>
            Neonatology
      </a>

        
      <a class="item item-icon-right" href="#/neuro">
        <i class="icon ion-ios7-arrow-right"></i>
            Neurology
      </a>

      <a class="item item-icon-right" href="#/pneumo">
        <i class="icon ion-ios7-arrow-right"></i>
            Pneumology
      </a>
        
      <a class="item item-icon-right" href="#/about">
        <i class="icon ion-ios7-arrow-right"></i>
            About
      </a>
     
    </div>
      
      
  


  </ion-content>
</ion-pane>