<ion-pane>
  <ion-header-bar align-title="left" class="bar bar-header bar-dark">
	<a href="#/gastro">
	<button class="button icon-right ion-ios7-arrow-left button-clear button-white">
	</button></a>
	<h1 class="title">{{pname}}</h1>
  </ion-header-bar>
  <ion-content class="content">

        <div class="meld-view">
            
            

            <ion-checkbox class="checkbox-dark" ng-model="dialysis.value">2 dialysis last week</ion-checkbox>


            <div class="row">
                <div class="col col-75">Creatinine (md/dL)</div>
                <div class="col"><label class="item item-input">
                                 <input type="number" id="creatinine"></input>
                                 </label></div>
            </div>


            <div class="row">
                <div class="col col-75">Bilirubine (md/dL)</div>
                <div class="col"><label class="item item-input">
                                 <input type="number" id="bilirubine"></input>
                                 </label></div>
            </div>
    
            <div class="row">
                <div class="col col-75">INR</div>
                <div class="col"><label class="item item-input">
                                 <input type="number" id="inr"></input>
                                 </label></div>
            </div>


    
             <button class="button button-block button-dark" ng-click="calculate()">Calculate</button>
        </div>
        <a class="item item-icon-left">
            Meld score
            <span class="badge badge-{{smartColor}}">{{score}}</span>
        </a>
        
        <button class="button button-block button-dark item-icon-right" ng-click="showInterpret = !showInterpret">
            <i class="icon ion-ios7-arrow-down"></i>
            How to interpret</button>

        <div id="interpret-div" ng-show="showInterpret">
            <div class="item item-divider">3m outcome % (hospitalized p.)</div>
            <a class="item item-icon-left">1.9%<span class="badge badge-balanced">0 - 9</span></a>
            <a class="item item-icon-left">6%<span class="badge badge-balanced">10 - 19</span></a>
            <a class="item item-icon-left">19.6%<span class="badge badge-energized">20 - 29</span></a>
            <a class="item item-icon-left">52.6%<span class="badge badge-energized">30 - 39</span></a>
            <a class="item item-icon-left">71.3%<span class="badge badge-assertive">40 or more</span></a>
        </div>


  </ion-content>
</ion-pane>