<ion-pane>
  <ion-header-bar align-title="left" class="bar bar-header bar-dark">
	<a href="#/biostat">
	<button class="button icon-right ion-ios7-arrow-left button-clear button-white">
	</button></a>
	<h1 class="title">{{pname}}</h1>
  </ion-header-bar>
  <ion-content class="content">
      
    <div class="list">

      <a class="item item-icon-right" href="#/pnpv1">
        <i class="icon ion-ios7-arrow-right"></i>
            From a 2x2 table
      </a>

      <a class="item item-icon-right" href="#/pnpv2">
        <i class="icon ion-ios7-arrow-right"></i>
            Sens, Spec, and Prevalence
      </a>
        
     
    </div>
  


  </ion-content>
</ion-pane>